.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #calculator {
     background-color: black;
     display: grid;
     grid-template-columns: repeat(4, 6rem);
     padding: 0px 20px 20px 20px; 
     border-radius: 10px;
  }